@font-face {
  font-family: "Inter", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Abel&family=Cardo&family=Inter:wght@400;500;600;700&family=Lato&family=Merriweather&family=Montserrat:ital,wght@0,600;0,700;1,400&family=Nunito&family=Open+Sans&family=Poppins:wght@700&display=swap");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Links */
body {
  max-width: 1440px;
  margin: 0 auto;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active, button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 12rem 4.3rem;
}
.nav__navigation {
  display: flex;
}
.nav__links {
  display: flex;
}
.nav__links-item {
  color: #1d1e25;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2.6rem;
  margin-right: 3.2rem;
}
.nav__links-item:last-child {
  margin-right: 6.8rem;
}
.nav__contact {
  color: #000;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 2.4rem;
  position: relative;
}
.nav__contact::before {
  content: "";
  width: 96%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.footer_light-theme {
  padding: 0rem 12rem 2.1rem;
  width: 100%;
}
.footer_light-theme .footer__bg-red {
  width: 62.1rem;
  height: 55.2rem;
  background-image: url(../img/bg_red.png);
  background-size: cover;
  position: relative;
  top: 95rem;
  left: 5.4rem;
}
.footer_light-theme .footer__bg-blue {
  width: 28.1rem;
  height: 52.5rem;
  z-index: -1;
  position: relative;
  top: 54.6rem;
  left: calc(100% - 14rem);
}
.footer_light-theme .footer__bg-blue img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 55% 34%;
     object-position: 55% 34%;
}
.footer_light-theme .footer__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12.8rem;
}
.footer_light-theme .footer__frame .footer__title {
  color: #1d1e25;
  font-size: 6.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: normal;
  margin-bottom: 3.2rem;
}
.footer_light-theme .footer__frame .footer__idea {
  width: 64.3rem;
  color: #1d1e25;
  font-size: 2.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 3.4rem;
  position: relative;
  padding-left: 10rem;
}
.footer_light-theme .footer__frame .footer__idea::before {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0rem;
  top: 2rem;
}
.footer_light-theme .footer__frame .btn {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  background-color: #1d1e25;
}
.footer_light-theme .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer_light-theme .footer__content .footer__logo-text {
  color: #1d1e25;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2.6rem;
  width: 29.2rem;
}
.footer_light-theme .footer__content .footer__links {
  display: flex;
}
.footer_light-theme .footer__content .footer__links .footer__links-set {
  margin-right: 9.33rem;
}
.footer_light-theme .footer__content .footer__links .footer__links-set:last-child {
  margin-right: 0;
}
.footer_light-theme .footer__content .footer__links .footer__links-set .footer__links-item {
  color: #1d1e25;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.footer_light-theme .footer__content .footer__links .footer__links-set .footer__links-item:first-child {
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.footer_light-theme .footer__content .footer__links .footer__links-set .footer__links-item:last-child {
  margin-bottom: 0;
}
.footer_light-theme hr {
  background-color: #ced1d8;
  margin-top: 7.9rem;
}
.footer_light-theme .footer__basement {
  padding: 4.6rem 0 5.9rem;
  text-align: center;
}
.footer_light-theme .footer__basement .footer__mutable {
  display: flex;
}
.footer_light-theme .footer__basement .footer__mutable .footer__social {
  display: flex;
}
.footer_light-theme .footer__basement .footer__mutable .footer__social .footer__social-icon {
  margin-right: 2.4rem;
}
.footer_light-theme .footer__basement .footer__mutable .footer__social .footer__social-icon:last-child {
  margin-right: 0;
}
.footer_light-theme .footer__basement .footer__mutable .footer__basement-links {
  margin-left: 7.2rem;
  display: flex;
}
.footer_light-theme .footer__basement .footer__mutable .footer__basement-links .footer__basement-links-item {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2rem;
  margin-right: 4rem;
}
.footer_light-theme .footer__basement .footer__mutable .footer__basement-links .footer__basement-links-item:last-child {
  margin-right: 0;
}
.footer_light-theme .footer__basement .footer__copyright {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2rem;
  color: #afb3bb;
}

.footer_dark-theme {
  padding: 0rem 12rem 2.1rem;
  width: 100%;
  background-color: #1d1e25;
}
.footer_dark-theme .footer__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13.4rem;
}
.footer_dark-theme .footer__frame .footer__title {
  color: #fff;
  font-size: 6.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: normal;
  margin-bottom: 2.4rem;
}
.footer_dark-theme .footer__frame .footer__idea {
  width: 64.3rem;
  color: #afb3bb;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 3.2rem;
  position: relative;
}
.footer_dark-theme .footer__frame .btn {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  background-color: #1d1e25;
  color: #1d1e25;
  background-color: #fff;
}
.footer_dark-theme .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer_dark-theme .footer__content .footer__logo-text {
  color: #7e8492;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2.6rem;
  width: 29.2rem;
}
.footer_dark-theme .footer__content .footer__links {
  display: flex;
}
.footer_dark-theme .footer__content .footer__links .footer__links-set {
  margin-right: 9.33rem;
}
.footer_dark-theme .footer__content .footer__links .footer__links-set:last-child {
  margin-right: 0;
}
.footer_dark-theme .footer__content .footer__links .footer__links-set .footer__links-item {
  color: #7e8492;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.footer_dark-theme .footer__content .footer__links .footer__links-set .footer__links-item:first-child {
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.4rem;
}
.footer_dark-theme .footer__content .footer__links .footer__links-set .footer__links-item:last-child {
  margin-bottom: 0;
}
.footer_dark-theme hr {
  background-color: #606060;
  margin-top: 5.6rem;
}
.footer_dark-theme .footer__basement {
  padding: 4rem 0 5.8rem;
  display: flex;
  justify-content: space-between;
}
.footer_dark-theme .footer__basement .footer__mutable {
  display: flex;
}
.footer_dark-theme .footer__basement .footer__mutable .footer__social {
  display: flex;
}
.footer_dark-theme .footer__basement .footer__mutable .footer__social .footer__social-icon {
  margin-right: 2.4rem;
}
.footer_dark-theme .footer__basement .footer__mutable .footer__social .footer__social-icon:last-child {
  margin-right: 0;
}
.footer_dark-theme .footer__basement .footer__mutable .footer__basement-links {
  margin-left: 7.2rem;
  display: flex;
}
.footer_dark-theme .footer__basement .footer__mutable .footer__basement-links .footer__basement-links-item {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2rem;
  margin-right: 4rem;
}
.footer_dark-theme .footer__basement .footer__mutable .footer__basement-links .footer__basement-links-item:last-child {
  margin-right: 0;
}
.footer_dark-theme .footer__basement .footer__copyright {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 2rem;
}/*# sourceMappingURL=main.css.map */