- var lang = "en"
- var pageContent = "digital marketing sales"
- var pageTitle = "Coca | Digital Marketing"
- var cssPath = "../css"
- var currentURL = "index.html"
- 
    var navLinks = [ 
            {
                linkName: "Home",
                linkURL: "index.html"
            },
            {
                linkName: "About",
                linkURL: "about.html"
            },
            {
                linkName: "Blog",
                linkURL: "blog.html"
            },
            {
                linkName: "Pricing",
                linkURL: "pricing.html"
            },
        ]