//- include config.pug
footer.footer_light-theme
    .footer__bg-red 
    .footer__bg-blue
        img(src="../img/bg_blue.png", alt="background")
    .footer__frame 
        .footer__frame-text
            h2.footer__title Think beyond the wave
            p.footer__idea Ask about Sans products, pricing, implementation, or anything else. Our highly trained reps are standing by, ready to help
        .footer__frame-btn 
            a.btn(href="#") Try for free 
    .footer__content 
        .footer__logo 
            img.footer__logo(src="../img/logo.png" alt="logo")
            p.footer__logo-text We built an elegant solution. Our team created a fully integrated sales and marketing solution for SMBs
        .footer__links 
            ul.footer__links-set 
                li.footer__links-item: a(href="#") Company
                li.footer__links-item: a(href="#") About
                li.footer__links-item: a(href="#") Pricing
                li.footer__links-item: a(href="#") Jobs
                li.footer__links-item: a(href="#") Blog
            ul.footer__links-set 
                li.footer__links-item: a(href="#") Product
                li.footer__links-item: a(href="#") Sales Software
                li.footer__links-item: a(href="#") Marketplace
                li.footer__links-item: a(href="#") Terms &amp; Conditions
                li.footer__links-item: a(href="#") Privacy Policy
            ul.footer__links-set 
                li.footer__links-item: a(href="#") Discover
                li.footer__links-item: a(href="#") CRM Comparision
                li.footer__links-item: a(href="#") Partner Program
                li.footer__links-item: a(href="#") What is CRM
                li.footer__links-item: a(href="#") Resource
            ul.footer__links-set 
                li.footer__links-item: a(href="#") Help Center
                li.footer__links-item: a(href="#") Community
                li.footer__links-item: a(href="#") Knowledge Base
                li.footer__links-item: a(href="#") Academy
                li.footer__links-item: a(href="#") Support
    hr 
    .footer__basement 
        //-&attributes(class=currentURL == "index.html" || "blog.html" ? "footer_light-theme" : "footer_dark-theme")
        .footer__copyright 
            p © Copyright 2023 All Rights Reserved
